
= t("notice_mailer.sendmail_confirm.text1")
%br
= t("notice_mailer.sendmail_confirm.text1_2")
%h3= t("notice_mailer.sendmail_confirm.title")
%br
= t("notice_mailer.sendmail_confirm.text2")
%br
= t("notice_mailer.sendmail_confirm.text3")
%br
%br
= link_to @url, @url
%br
%br
= t("notice_mailer.sendmail_confirm.text4")
%br
= t("notice_mailer.sendmail_confirm.text5")
%br
%br
= t("notice_mailer.sendmail_confirm.text6")
%br
= t("notice_mailer.sendmail_confirm.text7")
%br
= t("notice_mailer.sendmail_confirm.text8")
%br
= t("notice_mailer.sendmail_confirm.text9")
%br
