
= t("notice_mailer.sendmail_password_reset.text1")
%br
= t("notice_mailer.sendmail_password_reset.text1_2")
%h3= t("notice_mailer.sendmail_password_reset.title")
%br
= t("notice_mailer.sendmail_password_reset.text2")
%br
= t("notice_mailer.sendmail_password_reset.text3")
%br
%br
= link_to @url, @url
%br
%br
= t("notice_mailer.sendmail_password_reset.text4")
%br
= t("notice_mailer.sendmail_password_reset.text5")
%br
%br
= t("notice_mailer.sendmail_password_reset.text6")
%br
= t("notice_mailer.sendmail_password_reset.text7")
%br
= t("notice_mailer.sendmail_password_reset.text8")
%br
= t("notice_mailer.sendmail_password_reset.text9")
%br
