.scroll
  = t(".notice1")
  %br
  %br
  = t(".notice2")
  %br
  = t(".notice3")
  %br
  %br
  = t(".notice4")
  %br
  = t(".notice5")
  %br
  %br
  = t(".notice6")
  %br
  = t(".notice7")
  %br
  %br
  = t(".notice8")
  %br
  = t(".notice9")
  %br
  = t(".notice10")
  %br
  %br
  = t(".notice11")
  %br
  = t(".notice12")
  %br
  = t(".notice13")
  %br
  %br
  .checkbox
    %label{:class => "control-label"}
      %input{:type => "checkbox", :id => "jsAgreeCheck"}
      = t(".terms_agree")
  %br